@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/*body{
  background-color: #f79941;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
h4 {
  width: 75%;
  text-align: center;
  font-family: 'Droid Sans Mono';
  font-weight: normal;
  color: white;
  font-size: 14px;
  margin: 0 auto 1em auto;
  padding: 1em;
  background: #b63642;
}
p {
  text-align: center;
  font-family: 'Droid Sans Mono';
  margin: 3em auto 1em auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #414141;
  background: #f4f4f4;
}*/

.bigBlock{
}











.whiteHeader{
  margin-top: 160px;
  height: 45px;
  color: black;
  background-color: white;
  text-align: center;
  font: 32px 'Lobster', 'PT Sans', 'Droid Sans', Calibri, Candara, sans-serif;
/*REDUCE SIZEFOR MOBILE SCREENS */
}

@media screen and (max-width: 1200px) {
  .whiteHeader{
    font: 24px 'Lobster', 'PT Sans', 'Droid Sans', Calibri, Candara, sans-serif;
  }
}


.wrapper { 
  border : 2px solid #000; 
  overflow:hidden;
  width: 100%;
}

.wrapper div {
   /*min-height: 170px;*/
}
#one {
  background-color: #303944;
  float:left; 
  width:33.33333%;
  /*border:2px dashed #ccc;*/
  min-height:170px;
  height: 450px;
}
#two { 
  background-color: #f18b37;
  float:left; 
  overflow:hidden;
  width:33.33333%;
  /*width:550px;*/
  /*border:2px dashed #ccc;*/
  min-height:170px;
  height: 450px;
}
#three { 
  background-color: #303944;
  float:left; 
  overflow:hidden;
  width:33.33333%;
  /*border:2px dashed #ccc;*/
  min-height:170px;
  height: 450px;
}


@media screen and (max-width: 1200px) {
   #one { 
    float: none;
    display: block;
    margin-right:0;
    margin: 0 auto;
    max-width:600px;
    width: 100%;
    border:0;
    border:2px solid #000;    
  }
    #two { 
    float: none;
    background-color: #f18b37;
    display: block;
    margin-right:0;
    margin: 0 auto;
    max-width:600px;
    width: 100%;
    border:0;
    border:2px solid #000;    
  }
    #three { 
    float: none;
    display: block;
    margin-right:0;
    margin: 0 auto;
    max-width:600px;
    width: 100%;
    border:0;
    border:2px solid #000;    
  }
}

.clndr-control-button{
  cursor: pointer;
}




.event-item-name{
  font-weight: bold;
}

.event-item-date{
  color: #f18b37;
  font-weight: bold;
}


.event-listing-title{
  font-weight: bold;
}

.event-listing{
  font-family: 'PT Sans', 'Droid Sans', Calibri, Candara, sans-serif;
  color: white;
  background-color: #292c3b;
  float: left;
}

.cal1 {
  margin: 30px auto;
  max-width: 100%;
  font-family: 'Droid Sans Mono';
  font-size: 14px;
  /*background-color: #f18b37;*/
  text-align: left;
  /*padding: 15px;*/
}
.cal1 .clndr .clndr-controls {
  display: inline-block;
  float: left;
  width: 100%;
  position: relative;
  color: #1b1b1b;
  font-weight: bold;
}
.cal1 .clndr .clndr-controls .month {
  float: left;
  width: 33%;
  text-align: center;
}
.cal1 .clndr .clndr-controls .clndr-control-button {
  float: left;
  width: 33%;
}
.cal1 .clndr .clndr-controls .clndr-control-button.rightalign {
  text-align: right;
  width: 34%;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
  cursor: pointer;
  color: #ddd;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive {
  opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
  color: #ddd;
  cursor: pointer;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive {
  opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal1 .clndr .clndr-table {
  table-layout: fixed;
  width: 100%;
  /*max-width: 600px;*/
  /* SIZE OF THE CALENDAR */
}
.cal1 .clndr .clndr-table .header-days {
  height: 30px;
  font: bold 16px 'Lobster', 'PT Sans', 'Droid Sans', Calibri, Candara, sans-serif;
  font-weight: bold;
  background-color: white;
}
.cal1 .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  /*margin: 5px;*/
 /* border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;*/
  color: #1b1b27;
}
.cal1 .clndr .clndr-table .header-days .header-day:last-child {
  /*border-right: 1px solid #000000;*/
}
.cal1 .clndr .clndr-table tr {
  height: 70px;
}
.cal1 .clndr .clndr-table tr td {
  vertical-align: top;
}
.cal1 .clndr .clndr-table tr .day {
  /*border-left: 1px solid #000000;
  border-top: 1px solid #000000;*/
  width: 100%;
  height: inherit;
  background: #fff;
  border-color: #f18b37;
  border-style: solid;
  border-width: 3px;
}
.cal1 .clndr .clndr-table tr .day:hover {
  background: white;
}
.cal1 .clndr .clndr-table tr .day.today,
.cal1 .clndr .clndr-table tr .day.my-today {
  background: #f18b37;
  border-color: #1b1b27;
  border-style: solid;
  border-width: 5px;
}
.cal1 .clndr .clndr-table tr .day.today:hover,
.cal1 .clndr .clndr-table tr .day.my-today:hover {
  background: #cecece;
}
.cal1 .clndr .clndr-table tr .day.today.event,
.cal1 .clndr .clndr-table tr .day.my-today.event {
  background: #a7dbc1;
}
.cal1 .clndr .clndr-table tr .day.event,
.cal1 .clndr .clndr-table tr .day.my-event {
  background: #ec3837;
}
.cal1 .clndr .clndr-table tr .day.event:hover,
.cal1 .clndr .clndr-table tr .day.my-event:hover {
  background: #f91c1c;
}
.cal1 .clndr .clndr-table tr .day.inactive,
.cal1 .clndr .clndr-table tr .day.my-inactive {
  background: #ddd;
}
.cal1 .clndr .clndr-table tr .day:last-child {
  /*border-right: 1px solid #000000;*/
}
.cal1 .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
  padding: 8px;
  color: #1b1b1b;
  font-size: 12px;
  text-align: right;
}
.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month,
.cal1 .clndr .clndr-table tr .my-empty,
.cal1 .clndr .clndr-table tr .my-adjacent-month {
  /*border-left: 1px solid #000000;
  border-top: 1px solid #000000;*/
  width: 100%;
  height: inherit;
  background: #ffa54e;
  opacity: 1;
}
.cal1 .clndr .clndr-table tr .empty:hover,
.cal1 .clndr .clndr-table tr .adjacent-month:hover,
.cal1 .clndr .clndr-table tr .my-empty:hover,
.cal1 .clndr .clndr-table tr .my-adjacent-month:hover {
  background: #cecece;
}
.cal1 .clndr .clndr-table tr .empty:last-child,
.cal1 .clndr .clndr-table tr .adjacent-month:last-child,
.cal1 .clndr .clndr-table tr .my-empty:last-child,
.cal1 .clndr .clndr-table tr .my-adjacent-month:last-child {
  /*border-right: 1px solid #000000;*/
}
.cal1 .clndr .clndr-table tr:last-child .day,
.cal1 .clndr .clndr-table tr:last-child .my-day {
  /*border-bottom: 1px solid #000000;*/
}
.cal1 .clndr .clndr-table tr:last-child .empty,
.cal1 .clndr .clndr-table tr:last-child .my-empty {
  /*border-bottom: 1px solid #000000;*/
}
.cal2 {
  max-width: 177px;
  margin: 0 auto;
  font-family: 'Droid Sans Mono';
}
.cal2 .clndr .clndr-controls {
  display: block;
  display: inline-block;
  width: 100%;
  margin-bottom: 3px;
}
.cal2 .clndr .clndr-controls .clndr-previous-button {
  float: left;
  width: 10%;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal2 .clndr .clndr-controls .clndr-previous-button:hover {
  background-color: #f4f4f4;
}
.cal2 .clndr .clndr-controls .month {
  float: left;
  width: 80%;
  text-align: center;
}
.cal2 .clndr .clndr-controls .clndr-next-button {
  float: left;
  width: 10%;
  text-align: right;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal2 .clndr .clndr-controls .clndr-next-button:hover {
  background-color: #f4f4f4;
}
.cal2 .clndr .clndr-grid {
  text-align: center;
  border: 1px solid #FF4545;
  display: inline-block;
}
.cal2 .clndr .clndr-grid .header-day {
  float: left;
  width: 25px;
  height: 25px;
  background: #FF4545;
}
.cal2 .clndr .clndr-grid .day {
  float: left;
  width: 25px;
  height: 25px;
}
.cal2 .clndr .clndr-grid .day.event {
  background-color: #B4E09F;
}
.cal2 .clndr .clndr-grid .day.today {
  background-color: #E3C57F;
}
.cal2 .clndr .clndr-grid .empty,
.cal2 .clndr .clndr-grid .adjacent-month {
  float: left;
  width: 25px;
  height: 25px;
  background: #ddd;
}
.cal2 .clndr .clndr-today-button {
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.cal2 .clndr .clndr-today-button:hover {
  background-color: #ddd;
}