/*

ROBOT…OR NOT?
© 2014 Ethan Marcotte

*/

/* html5doctor.com/html-5-reset-stylesheet/ */

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(Lobster.otf);
@import url(Luna.ttf);


@font-face {
    font-family: Lobster;
    src: url(Lobster.otf);
}

@font-face {
    font-family: Luna;
    src: url(Luna.ttf);
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,time,mark,audio,video { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; } 
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }

/*-  SELF-CLEARING FLOATS
----------------------------------------------------------------------*/
.mod:after,
.section:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.mod,
.section {
	zoom: 1;
}

/*-  BASE STYLES
----------------------------------------------------------------------*/
body {
	background: #303944;
	color: #fff;
	font: normal 100%/1.5 'PT Sans', 'Droid Sans', Calibri, Candara, sans-serif;
}
.ie7 body {
	background: #303944;	/* Stupid IE7 bug is stupid. */
}
table {
	font-size:inherit;
	font: 100%;
}
select, input, textarea {
	font: 99% sans-serif;
	background-color: white;
}
a {
	-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	transition: color 0.3s linear;
	color: #D53232;
	text-decoration: none;
}
a:hover {
	color: #B52A2A;
}
input.text,
input[type=text],
textarea {
	border: 1px solid #7C7C7C;
	border-color: #7C7C7C #7C7C7C #C3C3C3 #C3C3C3;
}
p,
ul,
ol {
	margin-bottom: 1em;
}
abbr[title],
dfn[title] {
	border-bottom: 1px dotted #666;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
	cursor: help;
}
hr,
.skip,
.ineffable {
	left: -1000em;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 0;
}

/*-  MAIN
----------------------------------------------------------------------*/
/*
	Outsets
*/
.logo,
.nav-primary,
.lede {
	/*position: relative;*/
	z-index: 100;
}
.logo:after,
.nav-primary:after,
.lede:after {
	content: "";
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

img {
	max-width: 100%;
}
.ie6 img {
	width: 100%;
}
.page {
	margin: 36px auto;
	width: 90%;
}
.logo {
	background: #1b1b27 url("images/header-logo.png");
	float: left;
	width: 16.875%;	/* 162 / 960 */
}
/*.logo:after {
	-moz-box-shadow: -1px 1px 0 #484852,
		-2px 2px 0 #484852,
		-3px 3px 0 #484852,
		-4px 4px 0 #484852,
		-5px 5px 0 #484852,
		-6px 6px 0 #484852,
		-7px 7px 0 #484852,
		-8px 8px 0 #484852,
		-9px 9px 0 #484852,
		-10px 10px 0 #484852,
		-11px 11px 0 #484852;
	-webkit-box-shadow: -1px 1px 0 #484852,
		-2px 2px 0 #484852,
		-3px 3px 0 #484852,
		-4px 4px 0 #484852,
		-5px 5px 0 #484852,
		-6px 6px 0 #484852,
		-7px 7px 0 #484852,
		-8px 8px 0 #484852,
		-9px 9px 0 #484852,
		-10px 10px 0 #484852,
		-11px 11px 0 #484852;
	box-shadow: -1px 1px 0 #484852,
		-2px 2px 0 #484852,
		-3px 3px 0 #484852,
		-4px 4px 0 #484852,
		-5px 5px 0 #484852,
		-6px 6px 0 #484852,
		-7px 7px 0 #484852,
		-8px 8px 0 #484852,
		-9px 9px 0 #484852,
		-10px 10px 0 #484852,
		-11px 11px 0 #484852;
	opacity: 0.5;
}*/
.logo a {
	display: block;
	padding: 8px 14.8148148% 18px;	/* 24 / 162 */
}
.logo img {
	display: block;
}
.nav-primary {
	background: #1b1b27;
	/*font: 18px "pill-gothic-300mg-1","pill-gothic-300mg-2", Calibri, Candara, "Gill Sans", "Gill Sans MT", sans-serif;*/
	font: 18px 'PT Sans', 'Droid Sans', Calibri, Candara, sans-serif;
	padding: 1.2em 1em 1em;
	/*text-transform: uppercase;*/
	text-align: right;
	/*top: 100px;*/
	z-index: 99;
}


.smallMenu img{
	position: absolute;
    right: 0px;
    top: 0px;
    z-index: 99;
}

.header-image{
	cursor: pointer;
}


.currentPage{
	font-size: 18px;
	text-transform: uppercase;
}

/*START OF IFRAME*/
.tutorialVideo{
	width:100%;
	height:50%;
}
.indexVideo{
	height: 500px;
	width: 100%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 1200px) {
  .whiteHeader{
    margin-top: 150px;
  }
}
/*END OF IFRAME*/

/*ROUNDED PROMPT START*/

.roundedPrompt{
	background-color: white;
	color: #1b1b27;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 5px;
	font-weight: bold;
}

/*ROUNDED PROMPT END*/

/* THE BLACK OVERLAY BOX FOR PAGE BY PAGE TUTORIALS */
.black_overlay{
	display: block;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:99;
	-moz-opacity: 0.8;
	opacity:.80;
	color: black;
	filter: alpha(opacity=80);
}

 #boxClose{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
}

.white_content {
	display: inline-block;
	position: absolute;
	top: 25%;
	left: 21.5%;
	width: 50%;
	/*height: 50%;*/
	padding: 16px;
	color: black;
	border: 16px solid orange;
	background-color: white;
	z-index:1002;
	overflow: auto;
	text-align: left;
}

.white_content img {
	float: left;
	width: 25%;
	max-width: 150px;
}	



/*START OF WHITE HEADER*/

.currentPageSpanLeft{
  position: absolute;
  left:10px;
}
.currentPageSpanLeft img{
  width: 75%;
}
.currentPageSpanRight{
  position: absolute;
  right:10px;
}

.whiteHeader{
  margin-top: 160px;
  height: 45px;
  color: black;
  background-color: white;
  text-align: center;
  font: 32px 'Lobster', 'PT Sans', 'Droid Sans', Calibri, Candara, sans-serif;
}

@media screen and (max-width: 1800px) {
  .whiteHeader{
    margin-top: 150px;
  }
}
@media screen and (max-width: 1650px) {
  .whiteHeader{
    margin-top: 140px;
  }
}
@media screen and (max-width: 1500px) {
  .whiteHeader{
    margin-top: 130px;
  }
}
@media screen and (max-width: 1350px) {
  .whiteHeader{
    margin-top: 120px;
  }
}
@media screen and (max-width: 1185px) {
  .whiteHeader{
    margin-top: 110px;
  }
}
@media screen and (max-width: 1000px) {
  .whiteHeader{
    margin-top: 100px;
  }
}
@media screen and (max-width: 845px) {
  .whiteHeader{
    margin-top: 65px;
  }
}
/*END OF WHITE HEADER*/



/*TESTIMONIAL SECTION*/

.testimonialLinks{
		display: inline-block;
		text-align: left;
	}


.testimonialLinks img{
	/*float: left;*/
	/*max-width: 40%;*/
	margin-right: 15px; 
}

.testimonialBox1{
	margin-top: 20px;
	background-color: white;
	color: #1b1b27;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding:10px;
	text-align: center;
/*	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    
    display: flex;

	background-color: white;
	color: #1b1b27;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding:10px;

    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    
    align-items: center; */
}
/*.testimonialBox1 img{
	width: 100%;
	background-color: #31c3ea;
	padding: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}*/
/*.testimonialBox1 span{
	margin-left:50px;
}*/
.testimonialBox1 img{
	background-color: #31c3ea;
	padding: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.testimonialBox2{
	margin-top: 20px;
	background-color: white;
	color: #1b1b27;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding:10px;
	text-align: center;
}
.testimonialBox2 img{
	background-color: #8e53a3;
	padding: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%; overflow: hidden;
}
/*.testimonialBox2 img{
	background-color: #8e53a3;
	padding: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	color: white;
	box-shadow: 5px 5px 0px 5px;
}*/


.testimonialBox3{
	margin-top: 20px;
	background-color: white;
	color: #1b1b27;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding:10px;
	text-align: center;
}
.testimonialBox3 img{
	background-color: #2cb565;
	padding: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%; overflow: hidden;
}

/*
.testimonialBox3{
	margin-top: 20px;
	background-color: white;
	color: #1b1b27;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding:10px;
}
.testimonialBox3 img{
	background-color: #2cb565;
	padding: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	vertical-align: middle;
}*/
.testimonialBox4{
	margin-top: 20px;
	background-color: white;
	color: #1b1b27;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding:10px;
	text-align: center;
}
.testimonialBox4 img{
	background-color: #e6629e;
	padding: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.testimonialBox5{
	margin-top: 20px;
	background-color: white;
	color: #1b1b27;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding:10px;
	text-align: center;
}
.testimonialBox5 img{
	background-color: #f69b40;
	padding: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.testimonialBox6{
	position: relative;
	margin-top: 20px;
	background-color: white;
	color: #1b1b27;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding:10px;
	text-align: center;
}
.testimonialBox6 img{
	/*float: left;*/
	background-color: #ed2f3b;
	padding: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.descriptionTitle{
	font: 30px 'Lobster';
}

.testimonialImage{
	position: absolute;
	background-color: black;
}

.leftBox{
	text-align: left;
}

/*END OF TESTIMONIAL SECTION*/

/*START OF INDIVIDUAL TESTIMONY PAGES*/
.testimonyTopBox1{
	margin-top: 20px;
	background-color: #1b2433;
	color: #1b1b27;
	-moz-border-radius: 25px 25px 0px 0px;
	-webkit-border-radius: 25px 25px 0px 0px;
	border-radius: 25px 25px 0px 0px;
	padding:10px;
	text-align: center;
	color: white;
  	border-left: 7px solid #151c26;
  	border-right: 7px solid #151c26;
}
.testimonyTopBox1 img{
	background-color: #31c3ea;
	padding: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.testimonyTopBox2{
	margin-top: 20px;
	background-color: #1b2433;
	color: #1b1b27;
	-moz-border-radius: 25px 25px 0px 0px;
	-webkit-border-radius: 25px 25px 0px 0px;
	border-radius: 25px 25px 0px 0px;
	padding:10px;
	text-align: center;
	color: white;
  	border-left: 7px solid #151c26;
  	border-right: 7px solid #151c26;
}
.testimonyTopBox2 img{
	background-color: #8e53a3;
	padding: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.testimonyTopBox3{
	margin-top: 20px;
	background-color: #1b2433;
	color: #1b1b27;
	-moz-border-radius: 25px 25px 0px 0px;
	-webkit-border-radius: 25px 25px 0px 0px;
	border-radius: 25px 25px 0px 0px;
	padding:10px;
	text-align: center;
	color: white;
  	border-left: 7px solid #151c26;
  	border-right: 7px solid #151c26;
}
.testimonyTopBox3 img{
	background-color: #2cb565;
	padding: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.testimonyTopBox4{
	margin-top: 20px;
	background-color: #1b2433;
	color: #1b1b27;
	-moz-border-radius: 25px 25px 0px 0px;
	-webkit-border-radius: 25px 25px 0px 0px;
	border-radius: 25px 25px 0px 0px;
	padding:10px;
	text-align: center;
	color: white;
  	border-left: 7px solid #151c26;
  	border-right: 7px solid #151c26;
}
.testimonyTopBox4 img{
	background-color: #e6629e;
	padding: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.testimonyTopBox5{
	margin-top: 20px;
	background-color: #1b2433;
	color: #1b1b27;
	-moz-border-radius: 25px 25px 0px 0px;
	-webkit-border-radius: 25px 25px 0px 0px;
	border-radius: 25px 25px 0px 0px;
	padding:10px;
	text-align: center;
	color: white;
  	border-left: 7px solid #151c26;
  	border-right: 7px solid #151c26;
}
.testimonyTopBox5 img{
	background-color: #f69b40;
	padding: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.testimonyTopBox6{
	margin-top: 20px;
	background-color: #1b2433;
	color: #1b1b27;
	-moz-border-radius: 25px 25px 0px 0px;
	-webkit-border-radius: 25px 25px 0px 0px;
	border-radius: 25px 25px 0px 0px;
	padding:10px;
	text-align: center;
	color: white;
  	border-left: 7px solid #151c26;
  	border-right: 7px solid #151c26;
}
.testimonyTopBox6 img{
	background-color: #ed2f3b;
	padding: 10px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.constraint{
	overflow: hidden;
	width:500px;
	display: block;
}

.testimonyName{
	font: 36px 'Lobster';
}

.testimonyTitle{
	font: 24px Times;
}

.titleRibbon{
	background-color: #ed7d7c;
	position: absolute;
	left:45%;
	margin-top: 5px;
	font: 36px 'Lobster';

}

.WW{
	background-color: #31c3ea;
	color: #1b1b27;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	padding:10px;
	/*padding-left:80px;*/
	text-align: center;
  	border-top: 7px solid #151c26;
  	border-left: 7px solid #151c26;
  	border-right: 7px solid #151c26;
}

.WW .WWTD{
	text-align: left;
	color: #1b1b27;
	font: 22px Times;
}

.questionsBlock{
	background-color: #323a45;
	color: 'white';
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	padding:10px;
	text-align: center;
  	border-top: 7px solid #151c26;
  	border-left: 7px solid #151c26;
  	border-right: 7px solid #151c26;
	font: 16px 'Luna';
}

.lightAnswerBlock{
	/*background-color: #aadfef;*/
	color: #1b1b27;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	padding:10px;
	text-align: left;
  	border-top: 7px solid #151c26;
  	border-left: 7px solid #151c26;
  	border-right: 7px solid #151c26;
	font: 16px 'PT Sans';
}

.darkAnswerBlock{
	/*background-color: #31c3ea;*/
	color: #1b1b27;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	padding:10px;
	text-align: left;
  	border-top: 7px solid #151c26;
  	border-left: 7px solid #151c26;
  	border-right: 7px solid #151c26;
	font: 16px 'PT Sans';
}

.bottomAnswerBlock{
	/*background-color: #aadfef;*/
	color: #1b1b27;
	-moz-border-radius: 0px 0px 25px 25px;
	-webkit-border-radius: 0px 0px 25px 25px;
	border-radius: 0px 0px 25px 25px;
	padding:10px;
	text-align: left;
  	border-top: 7px solid #151c26;
  	border-left: 7px solid #151c26;
  	border-right: 7px solid #151c26;
	font: 16px 'PT Sans';
}

.marginText{
	max-width:50%;
	margin: 0 auto;
}


.andreaWW{
	background-color: #31c3ea;
}
.andreaDark{
	background-color: #31c3ea;
}
.andreaLight{
	background-color: #aadfef;
}
.andreaBottom{
	background-color: #aadfef;
}


.monicaWW{
	background-color: #8e53a3;
}
.monicaDark{
	background-color: #8e53a3;
}
.monicaLight{
	background-color: #e9aff9;
}
.monicaBottom{
	background-color: #8e53a3;
}


.kevinWW{
	background-color: #2cb565;
}
.kevinDark{
	background-color: #2cb565;
}
.kevinLight{
	background-color: #d3ff9e;
}
.kevinBottom{
	background-color: #2cb565;
}


.fergalWW{
	background-color: #e6629e;
}
.fergalDark{
	background-color: #e6629e;
}
.fergalLight{
	background-color: #ec7f82;
}
.fergalBottom{
	background-color: #e6629e;
}


.paulWW{
	background-color: #f69b40;
}
.paulDark{
	background-color: #f69b40;
}
.paulLight{
	background-color: #ebb998;
}
.paulBottom{
	background-color: #ebb998;
}


.gerardWW{
	background-color: #ed2f3b;
}
.gerardDark{
	background-color: #ed2f3b;
}
.gerardLight{
	background-color: #ec7f82;
}
.gerardBottom{
	background-color: #ec7f82;
}


/*END OF INDIVIDUAL TESTIMONY PAGES*/

@media screen and (max-width: 1000px) {
	.savedCenter{
		min-width: 80%;
	}
}

.firstCourse{
	color: #f69b40;
	font: 28px 'Lobster';
}

.secondCourse{
	color: #aaaaaa;
	font: 28px 'Lobster';
}

.thirdCourse{
	color: #ebb998;
	font: 28px 'Lobster';
}

.smallMenu{
	height:22px;
}

.menu{
	position: absolute;
	right: 45px;
}

.menuLi{
	padding-right: 45px;
}

.smallMenu{
	/*padding-right: 45px;*/
}

#dupeCourseWarning{
	text-align: center;
	color:#ed3437;
	font-style: bold;
	font-size: 18px;
	/*visibility: hidden;*/
}


#noCourseWarning{
	text-align: center;
	color:#ed3437;
	font-style: bold;
	font-size: 18px;
	/*visibility: hidden;*/
}

.homepageBody{
	background-color: #1b1b27;
}



.first{
	border-bottom: 10px solid #f1b78f;
	left:-2px;
}
.second{
	border-bottom: 10px solid #d2ff9e;
}
.third{
	border-bottom: 10px solid #ed7d7c;
}
.fourth{
	border-bottom: 10px solid #a1e9f4;
}
.fifth{
	border-bottom: 10px solid #e3aef8;
}
.sixth{
	border-bottom: 10px solid #f7f08a;
}



.centeredIntro{
    width:50%;
    max-width: 50%;
    margin: 0 auto;
}


.loginError{
	color: #ed2f3b;
	font-weight: bold;
	font-size: 24px;
} 


.navigationBar{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	text-align: left;
}

#logoImage img{
	width:6%;
	min-width: 6%;
	margin-bottom: -25px;
}

.logoTest{
	text-align: left;
}


.courseInfoTable{
	font: 18px 'PT Sans';
	color: #000;
	background-color: white;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	margin: 0 auto;
	margin-bottom: 35px;
}


.grid{
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}



.top_title_row {
    display: table;
    width: 100%;
}

.top_title_row > div {
  background-color: #8e53a2;
    cursor: pointer;
  color: #000;
  font-weight: bold;
  /*text-decoration: underline;*/
    display: table-cell;
    text-align: center;
    width: 20%;
    /*border-bottom: 1px solid #eee;*/
}

.top_title_row > div:first-child {
  border-radius: 10px 0px 0px 0px;
  -moz-border-radius: 10px 0px 0px 0px;
}

.top_title_row > div:last-child {
  border-radius: 0px 10px 0px 0px;
  -moz-border-radius: 0px 10px 0px 0px;
}

.bot_title_row {
    display: table;
    width: 100%;
}

.bot_title_row > div {
  background-color: #e9aff9;
    cursor: pointer;
  color: #000;
  font-weight: bold;
  /*text-decoration: underline;*/
    display: table-cell;
    text-align: center;
    width: 20%;
    /*border-bottom: 1px solid #eee;*/
}

.bot_title_row > div:first-child {
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
}

.bot_title_row > div:last-child {
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
}






.corner_fix {
    display: table;
    width: 100%;
}

.corner_fix > div {
  background-color: #fff;
    cursor: pointer;
  color: #000;
    display: table-cell;
    text-align: center;
    width: 20%;
    /*border-bottom: 1px solid #eee;*/
}


.corner_fix > div:last-child {
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
}

.top_row {
    display: table;
    width: 100%;
}

.top_row > div {
  background-color: #fff;
  color: #000;
    cursor: pointer;
    display: table-cell;
    text-align: center;
    width: 20%;
    /*border-bottom: 1px solid #eee;*/
}

.top_row > div:first-child {
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
}

.top_row > div:last-child {
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
}

.bot_row {
    display: table;
    width: 100%;
}

.bot_row > div {
  background-color: #fff;
  color: #000;
    cursor: pointer;
    display: table-cell;
    text-align: center;
    width: 20%;
    /*border-bottom: 1px solid #eee;*/
}

.bot_row > div:first-child {
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
}

.bot_row > div:last-child {
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
}

/*.grid tr{
	width:50%;
	max-width: 50%;
	font: 18px 'PT Sans';
	color: #000;
	background-color: white;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	margin: 0 auto;
	border-spacing: 250px;
}*/

#sort{
	max-width: 100%;
}



.nav-primary:after,
/*.lede:after {
	-moz-box-shadow: 1px -1px 0 #484852, 2px -2px 0 #484852, 3px -3px 0 #484852, 4px -4px 0 #484852, 5px -5px 0 #484852, 6px -6px 0 #484852, 7px -7px 0 #484852, 8px -8px 0 #484852, 9px -9px 0 #484852, 10px -10px 0 #484852, 11px -11px 0 #484852;
	-webkit-box-shadow: 1px -1px 0 #484852, 2px -2px 0 #484852, 3px -3px 0 #484852, 4px -4px 0 #484852, 5px -5px 0 #484852, 6px -6px 0 #484852, 7px -7px 0 #484852, 8px -8px 0 #484852, 9px -9px 0 #484852, 10px -10px 0 #484852, 11px -11px 0 #484852;
	box-shadow: 1px -1px 0 #484852, 2px -2px 0 #484852, 3px -3px 0 #484852, 4px -4px 0 #484852, 5px -5px 0 #484852, 6px -6px 0 #484852, 7px -7px 0 #484852, 8px -8px 0 #484852, 9px -9px 0 #484852, 10px -10px 0 #484852, 11px -11px 0 #484852;
	opacity: 0.2;
}*/
.nav-primary li {
	display: inline;
}
.nav-primary a {
	color: #fff;
	padding:0;
	margin:0;
	position: relative;
	z-index: 1;
}
.nav-primary a:hover {
	color: #F8F5F2;
}

.copy {
	background: #333;
	background: rgba(0, 0, 0, 0.5);
	color: #B0B0AE;
	font-size: 12px;
	line-height: 13px;
	padding: 1em;
	text-align: right;
}
.copy a {
	color: #FFF;
}

.main-title {
	background: #000;
	border-left: 12px solid #000;
	color: #FFF;
	font: normal 3.625em/0.9 'PT Sans', 'Droid Sans', Calibri, Candara, sans-serif;	/* 58/16 */
	margin-left: -12px;
	margin-bottom: 0.15em;
	padding: 12px 2.4691358% 6px;		/* 12 / 660 */
	text-transform: uppercase;
}

.blog {
	margin: 0 auto 53px;
	margin-top: 50px;
	width: 93.75%;			/* 900/960 */
}
.blog {
	background: #303944;	/* 568/900 */
}
.lede {
	background: #303944;
	color: #F9E3CC;
	font: normal 1.25em 'PT Sans', 'Droid Sans', Calibri, Candara, sans-serif;	/* 20px / 16px */
	padding: 0.8em 5.33333333%;	/* 16px / 20px; 48px / 900px */
	text-transform: uppercase;
}
.lede a {
	color: #F8F5F2;
	font-size: 2em;
	position: relative;
	z-index: 1;
}
.blog .main {
	float: left;
	width: 100%;		/* 566px / 900px */
}
.blog .article {
	font-size: 0.875em;			/* 14px / 16px */
	/*padding: 40px 8.48056537%;	/* 48px / 566px */*/
	margin-top: 0px;
}
.article form{
	text-align: center;
}


#subjectDiv{
	margin: 0 auto;
	text-align: left;
}
#levelTable{
	margin: 0 auto;
	text-align: left;
}


.saveNextButtons{
	width:100%;
}
.saveNextButtons td{
	text-align: center;
}
.saveNextButtons img{
	width:20%;
	min-width: 80px;
}

.courseCounter{
	font-family: 'Lobster';
}








.date {
	background: rgba(0, 0, 0, 0.6);
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #FFF;
	float: left;
	font: normal 0.857142857em/1 'PT Sans', 'Droid Sans', Calibri, Candara, sans-serif;	/* 12px / 14px */
	letter-spacing: 0.075em;
	margin: -2.25em 0 0 -17.2340425531%;		/* 81px / 470px */
	padding: 0.75em 0;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #000;
	width: 14.68085106%;					/* 69px / 470px */
}
.date span {
	display: block;
	font-size: 3.83333333em;					/* 46px / 12px */
}
.title {
	font: 1.3em 'PT Sans', 'Droid Sans', Calibri, Candara, sans-serif;		/* 15px / 14px */
	/*text-transform: uppercase;*/
	margin-bottom: 1em;
	text-align: center;
}
.intro {
	font-size: 1.14285714em;		/* 16/14 */
	margin-top: 20px;
}
.intro table{
	text-align: left;
}
.intro table td{
	padding: 8px 25px 8px 25px;
}





/*.intro .showCourses{
	text-align: left;
	width: 100%;
	background-color: white;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	margin: 15px;
	color:#000;
}*/

.intro .showCourses{
	text-align: left;
	width: 100%;
	margin: 15px;
	color:#000;
}

.showCoursesBorder{
	background-color: white;
	padding: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding-right: 30px;
}

.openQuotes img{
	width: 8%;
	min-width: 75px;
}

.closeQuotes{
	text-align: right;
}
.closeQuotes img{
	width: 8%;
	min-width: 75px;
}
.visitWebsite img{
	width: 20%;
	min-width: 150px;
}
.hiddenLink{
	visibility: hidden;
	position: absolute;
}
.backArrow img{
	width: 25%;
	min-width: 140px;
}

.thinnerCourses{
	width:80%;
	margin: 0 auto;
}


.blurb{
	text-align: left;
	max-width: 40%;
	display: inline-block;
	font: 28px 'PT Sans';
}

.slideshow{
	display: inline-block;
	vertical-align: top;
	max-width: 50%;
}

@media screen and (max-width: 845px) {
	.blurb{
		display: inline;
	}

	.slideshow{
		display: inline;
	}
}


.meetTheTeam{
	font: 28px 'Lobster';
}






blockquote,
.blog .figure {
	float: right;
	margin-bottom: 0.5em;
	margin-left: 2.55319149%;		/* 12px / 470px */
	width: 49.14893617%;				/* 231px / 470px */
}
blockquote {
	border-width: 1px 0;
	border: 1px solid #AAA;
	border: 1px solid rgba(0, 0, 0, 0.12);
	color: #B65600;
	font: italic 1.21428571em/1.35294118 Georgia, Times, serif;	/* 17px / 14px; 23px / 17px */
	padding: 1.1em 0 0.1em;
}
.blog .figure {
	background: #303944;
	color: #EEE;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
}
.blog .figure p {
	padding: 0.5em;
	margin: 0;
}
.meta {
	border-top: 1px solid #999;
	padding: 1em 0;
	color: #666;
	/*text-align: right;*/ 
}
.meta h1,
.meta h2 {
	font-size: 1em;
	font-weight: normal;
}
.meta h1 {
	margin-bottom: 0.5em;
}
.meta h2,
.meta ul,
.meta li {
	display: inline;
}
.meta cite {
	font-style: normal;
	font-weight: bold;
}
.meta h2 {
	margin-right: 0.5em;
}
.meta li:after {
	content: "\20\2022";
	color: #AAA;
}
.meta li:last-child:after {
	content: "";
}
.meta ul a {
	background: #303944;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
	color: #999;
	padding: 0.15em 0.7em;
	text-decoration: none;
}
.meta ul a:before {
	content: "#";
}
.meta ul a:hover {
	background: #303944;
	color: #FFF;
}


#footer {
	text-align: center;
	font-size: 0.8125em;	/* 13/16 */
}

/*-  MEDIA QUERIES
----------------------------------------------------------------------*/
/* Disable iOS/WinMobile font size changes */
html {
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/*
	Blog style for: Interim and OMFGHUGE
*/
@media screen and (max-width: 845px), screen and (min-width: 1200px){
	
	.blog {
		background: #303944;
	}
	.blog .main,
	.blog .other {
		float: none;
		width: auto;
	}
	.blog .article {
		margin-bottom: 0;
	}


	.blog .other {
		background: #303944;
		padding: 20px 8.48057%;
	}
	.other .section {
		width: auto;
	}
	.meta {
		text-align: left;
	}

	.blog .article {
		margin-top:130px;
	}
}
@media screen and (max-width: 845px) {
	
	.bigMenu {
		display: none;
	}
	body {
		background: #303944;
	}
	.ie7 body {
		background: #303944;	/* Stupid IE7 bug is stupid. */
	}
	/*.page {
		position: relative;
		margin: 20px;
		width: auto;
	}*/

	.blog .article {
		margin-top:60px;
	}
	.thinnerCourses{
		width:100%;
		margin: 0 auto;
	}

	.blog {
		/*-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;*/
		margin: 0 0 30px;
		margin-top: 30px;
		width: auto;
	}
	.lede {
		font-family: 'PT Sans', 'Droid Sans', Calibri, Candara, sans-serif;
	}
	.lede a {
		font-size: 1em;
		font-weight: bold;
	}
	.welcome .main {
		width: auto;
		margin-top: -5px;
	}
	.logo {
		display: none;
		/*float: none;
		margin: 0 auto 20px;
		position: relative;*/
	}
	.nav-primary {
		padding: 1.2em 0 1em;
		padding-left: 30px;
		margin-bottom: 0px;
		top: auto;
		left:0;
		text-align: left;
	}
	/*.nav-primary:after {
		-moz-box-shadow: -1px 1px 0 #484852, -2px 2px 0 #484852, -3px 3px 0 #484852, -4px 4px 0 #484852, -5px 5px 0 #484852, -6px 6px 0 #484852, -7px 7px 0 #484852, -8px 8px 0 #484852, -9px 9px 0 #484852, -10px 10px 0 #484852, -11px 11px 0 #484852;
		-webkit-box-shadow: -1px 1px 0 #484852, -2px 2px 0 #484852, -3px 3px 0 #484852, -4px 4px 0 #484852, -5px 5px 0 #484852, -6px 6px 0 #484852, -7px 7px 0 #484852, -8px 8px 0 #484852, -9px 9px 0 #484852, -10px 10px 0 #484852, -11px 11px 0 #484852;
		box-shadow: -1px 1px 0 #484852, -2px 2px 0 #484852, -3px 3px 0 #484852, -4px 4px 0 #484852, -5px 5px 0 #484852, -6px 6px 0 #484852, -7px 7px 0 #484852, -8px 8px 0 #484852, -9px 9px 0 #484852, -10px 10px 0 #484852, -11px 11px 0 #484852;
		opacity: 0.2;
	}*/

	.date {
		float: right;
		margin: 0 0 1em 1em;
	}

	.nav-primary table li{
		position: absolute;
		bottom:0;
	}
	.smallMenu .header-image img{
	    left: 35px;
	    top: 10px;
	}
	.lede{
		z-index: 50;
	}
}

/*
	Nav wrap fix
*/


@media screen and (max-width: 780px) {
	
	.smallMenu .header-image img{
	    left: 35px;
	    top: 10px;
	}
}

@media screen and (max-width: 730px) {
	
	.smallMenu .header-image img{
	    left: 35px;
	    top: 10px;
	}
}


@media screen and (max-width: 655px) {
	
	.smallMenu .header-image img{
	    left: 35px;
	    top: 10px;
	}
	.lede{
		z-index: 50;
	}

	.blog .article {
		margin-top:60px;
	}
	.thinnerCourses{
		width:100%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 580px) {
	
	.smallMenu .header-image img{
	    left: 35px;
	    top: 10px;
	}
}

@media screen and (max-width: 520px) {
	
	.bigMenu {
		display: none;
	}
	.smallMenu .header-image img{
	    left: 35px;
	    top: 10px;
	}
	.lede{
		z-index: 50;
	}

	.blog .article {
		margin-top:60px;
	}
	.centeredIntro{
		min-width:100%;
	    width:100%;
	    max-width: 100%;
	    margin: 0 auto;
	}
	.thinnerCourses{
		width:100%;
		margin: 0 auto;
	}
}

/*
	Tiny
*/
@media screen and (max-width: 480px) {
	.logo {
		width: 33.75%;					/* 162px / 480px */
	}
	.recent-entries ol {
		-moz-column-count: 1;
		-o-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
	.bigMenu {
		display: none;
	}
	.smallMenu .header-image img{
	    left: 35px;
	    top: 10px;
	}
	.lede{
		z-index: 50;
	}

	.blog .article {
		margin-top:60px;
	}
	.centeredIntro{
		min-width:100%;
	    width:100%;
	    max-width: 100%;
	    margin: 0 auto;
	}
	.thinnerCourses{
		width:100%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 445px) {
	
	.smallMenu .header-image img{
	    left: 35px;
	    top: 10px;
	}
}

@media screen and (max-width: 430px) { /*BUTTONS ON SHOWCOURSES START TO GO OUTSIDE SCREEN */
	.saveNextButtons img{
		max-width: 20px;
	}
}


@media screen and (max-width: 375px) {
	
	.smallMenu .header-image img{
	    left: 35px;
	    top: 10px;
	}
}

/*
	Tinier
*/
@media screen and (max-width: 360px) {
	.bigMenu {
		display: none;
	}
	.smallMenu .header-image img{
	    left: 35px;
	    top: 10px;
	}
	.lede{
		z-index: 50;
	}

	.blog .article {
		margin-top:60px;
	}
	.centeredIntro{
		min-width:100%;
	    width:100%;
	    max-width: 100%;
	    margin: 0 auto;
	}
	.thinnerCourses{
		width:100%;
		margin: 0 auto;
	}
}

/*
	OMFGHUGE
*/

@media screen and (min-width: 1200px) {
	.page {
		margin-top: 0;
	}
	.logo {
		margin-bottom: 40px;
	}
	/*.logo:after {
		-moz-box-shadow: -1px -1px 0 #484852, -2px -2px 0 #484852, -3px -3px 0 #484852, -4px -4px 0 #484852, -5px -5px 0 #484852, -6px -6px 0 #484852, -7px -7px 0 #484852, -8px -8px 0 #484852, -9px -9px 0 #484852, -10px -10px 0 #484852, -11px -11px 0 #484852;
		-webkit-box-shadow: -1px 1px 0 #484852, -2px 2px 0 #484852, -3px 3px 0 #484852, -4px 4px 0 #484852, -5px 5px 0 #484852, -6px 6px 0 #484852, -7px 7px 0 #484852, -8px 8px 0 #484852, -9px 9px 0 #484852, -10px 10px 0 #484852, -11px 11px 0 #484852;
		box-shadow: -1px -1px 0 #484852, -2px -2px 0 #484852, -3px -3px 0 #484852, -4px -4px 0 #484852, -5px -5px 0 #484852, -6px -6px 0 #484852, -7px -7px 0 #484852, -8px -8px 0 #484852, -9px -9px 0 #484852, -10px -10px 0 #484852, -11px -11px 0 #484852;
	}*/
	.logo a {
		padding: 68px 14.8148% 48px;
	}
	.nav-primary {
		top: 200px;
	}

	/*.lede:after {
		-moz-box-shadow: -1px -1px 0 #484852, -2px -2px 0 #484852, -3px -3px 0 #484852, -4px -4px 0 #484852, -5px -5px 0 #484852, -6px -6px 0 #484852, -7px -7px 0 #484852, -8px -8px 0 #484852, -9px -9px 0 #484852, -10px -10px 0 #484852, -11px -11px 0 #484852;
		-webkit-box-shadow: -1px -1px 0 #484852, -2px -2px 0 #484852, -3px -3px 0 #484852, -4px -4px 0 #484852, -5px -5px 0 #484852, -6px -6px 0 #484852, -7px -7px 0 #484852, -8px -8px 0 #484852, -9px -9px 0 #484852, -10px -10px 0 #484852, -11px -11px 0 #484852;
		box-shadow: -1px -1px 0 #484852, -2px -2px 0 #484852, -3px -3px 0 #484852, -4px -4px 0 #484852, -5px -5px 0 #484852, -6px -6px 0 #484852, -7px -7px 0 #484852, -8px -8px 0 #484852, -9px -9px 0 #484852, -10px -10px 0 #484852, -11px -11px 0 #484852;
	}*/

	.welcome,
	.gallery {
		float: right;
		margin: 0 0 40px;
		width: 49.375%;
	}
	.welcome,
	#footer {
		clear: both;
	}

	.welcome {
		margin: -60px 0 80px;
	}
	.welcome .main p {
		padding-left: 5.33333333%;
		padding-right: 5.33333333%;
	}
	.main-title,
	.gallery .main-title {
		margin-left: 0;
	}
	.welcome .main-title {
		font-size: 2.75em;		/* 44px / 16px */
	}
	.carousel-nav {
		bottom: -20px;
		left: auto;
		margin: 0 1.81818% 0 0;
		right: 0;
		top: auto;
	}
	.slides .figure b {
		width: auto;
	}

	.blog {
		clear: left;
		float: left;
		margin: 0 0 20px;
		width: 100%;
	}
	.blog .other {
		padding: 10px 8.48057%;
	}
	.blog .article {
		margin-top:30px;
	}

	.blog .intro {
		margin-top:20px;
	}
}

/*
	Rather gratuitous .page adjustments
*/

@media screen and (min-width: 846px){
	.smallMenu {
		display: none;
	}
}
@media screen and (min-width: 1100px) {
	.page {
		width: 80%;
	}
	.thinnerCourses{
		width:80%;
		margin: 0 auto;
	}
}
@media screen and (min-width: 1400px) {
	.page {
		width: 70%;
	}

	.thinnerCourses{
		width:70%;
		margin: 0 auto;
	}
}
@media screen and (min-width: 1600px) {
	.page {
		width: 65%;
	}

	.thinnerCourses{
		width:60%;
		margin: 0 auto;
	}
}
@media screen and (min-width: 1900px) {
	.page {
		width: 60%;
	}
}
@media screen and (min-width: 2100px) {
	.page {
		width: 50%;
	}
}

.ie6 .slides,
.ie7 .slides {
	overflow-x: hidden;
	zoom: 1;
}

.ie6 .site {
	zoom: 1;
}
.ie .logo,
.ie .logo a,
.ie .nav-primary,
.ie .lede {
	zoom: 1;
}


.cd-primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 0.4s;
}
 
.cd-primary-nav.is-visible {
  transform: translateY(0);
}

.cd-header {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  height: 80px;
  width: 100%;
  transition: background-color 0.3s;
}
 
.cd-header.is-fixed {
  /* when the user scrolls down, we hide the header right above the viewport */
  position: fixed;
  top: -80px;
  background-color: rgba(2, 23, 37, 0.96);
  transition: transform 0.3s;
}
 
.cd-header.is-visible {
  /* if the user changes the scrolling direction, we show the header */
  transform: translate3d(0, 100%, 0);
}

