body{
	text-align: center;
	margin: 0 auto;
	background-color: #FFFFFF;
	font-color: #E44424;
	width:500px;
}
a:link{
	font-color: #E44424;
}

a:visited{
	font-color: #67BCDB;
}

nav{
	margin: 0 auto;
	text-align: center;
}

